.card {
    display: flex;
    flex-direction: column;
    width: 28%;
    margin: 2% 2%;
    padding: 2%;
    justify-content: space-between;
    .line--bottom {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .actions {
        font-size: rem(20);
    }
    .priority {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        text-align: left;
        padding-left: rem(5);
        font-size: rem(19.5);
    }
}