@import "../mixins.scss";
@import "../vars.scss";
.card {
    background-color: $border-lighter;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    .title {
        font-size: rem(30);
    }
    .description {
        font-size: rem(25);
    }
    .priority,
    .actions {
        font-size: rem(19.5);
    }
}

.card.done {
    background-color: lightgrey;
}

.card.done::after {
    content: '\2713';
    position: absolute;
    left: 97%;
    top: -10%;
    font-size: 25px;
    background-color: #fff;
    color: red;
    border: 1px solid black;
    padding: 5px;
    line-height: 15px;
}