@media (max-width:767px) {
    .search {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: space-between;
        .navbar-toggler {
            margin-left: auto;
            margin-right: auto;
        }
        #titleSearch {
            width: 100%;
            margin: 2% 0%;
        }
        .select {
            margin: 2% 0%;
            width: 100%;
            h3 {
                width: 10%;
                margin: 0;
                padding: 0;
            }
        }
        #createBut {
            margin: 2% 0%;
            width: 100%;
        }
        .navbar {
            width: 100%;
        }
    }
    .card {
        width: 45% !important;
        padding: 3% 5% !important;
    }
}