@import "../mixins.scss";
.edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    label,
    input,
    textarea,
    select {
        width: 100%;
    }
    select {
        padding-left: 10%;
        height: 20%;
    }
    h3 {
        font-size: rem(25);
    }
}

.modal-footer {
    .buttons {
        width: 50%;
        text-align: right;
        .btn {
            margin-left: 7%;
        }
    }
}